body {
	background-color: #E6E6FA;
	font-family: 'Work Sans', sans-serif;
	font-size: 16px;
	text-align: center;
}

ul {
	padding-left: initial;
}

li {
	list-style: none;
}

#content {
	width: 100%;
}

.searchGroup {
	text-align: center;
}

.searchIcon {
	background-color: #ffffff;
	border: solid 1px #A9A9A9;
	border-left: 0px;
	border-bottom-right-radius: .125em;
	border-top-right-radius: .125em;
	color: #A9A9A9;
	font-size: 3em;
	padding: .3em;
	padding-bottom: .375em;
	padding-top: .69em;
	position: relative;
}

.searchIcon:hover {
	color: #008080;
	cursor: pointer;
}

.searchIcon:active {
	color: #4B0082;
}

.searchInput {
	background-color: #ffffff;
	border: solid 1px #A9A9A9;
	border-right: 0px;
	border-bottom-left-radius: .125em;
	border-top-left-radius: .125em;
	box-shadow: 1em 0.5em 3em 0.1em rgba(0,0,0,0.3);
	padding: 0.25em;
	font-size: 4em;
	width: 8em;
}

.searchButton:focus,
.searchInput:focus {
	outline: none;
}

.searchIcon {
	position: relative;
}

.searchError {
	font-size: 1.5em;
	font-weight: bold;
	color: #DC143C;
}

.fa-search {
	position: relative;
	bottom: .1em;
}

.resultsDiv {
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

.resultDiv {
	border: 0.1em solid #C0C0C0;
	border-radius: 0.5em;
	box-shadow: 1.25em 0.5em 2.5em 0.1em rgba(0,0,0,0.3);
	color: #fff;
	display: inline-block;
	margin: 0.5em;
	overflow-y: scroll;
	vertical-align: top;
	width: 90%;
}

.resultsTitle {
	padding-top: 0.25em;
	font-size: 2em;
	text-transform: capitalize;
}

.adverbs {
	background: #DAA520;
}

.adjectives {
	background: #DC143C;
}

.nouns {
	background: #6495ED;
}

.verbs {
	background: #3CB371;
}

.wordList {
	text-align: left;
}

.word {
	border: 0.1em solid #C9C9C9;
	border-radius: 0.5em;
	box-shadow: 1em 0.5em 2em 0.1em rgba(0,0,0,0.3);
	display: inline-block;
	font-size: 1.5em;
	margin: 0.125em 0.25em;
	padding: 0.5em 0.75em;
	cursor: pointer;
}

.word:active {
	border-color: #00FFFF;
}

.word:hover {
	background: rgba(0, 0, 0, 0.4)
}

.hidden {
	display: none;
}

@media (max-width: 800px) {
	.searchInput {
		font-size: 2.5em;
		padding: .2em;
	}
	.searchIcon {
		font-size: 2em;
		padding: .25em;
		padding-top: .525em;
		padding-bottom: .25em;
	}
}